<nav class="navi navbar navbar-expand-md py-3">
  <div class="background-nav">

  </div>
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/logo-s-white.svg" width="50" alt="logo">
  </a>
  <ul class="links nav navbar-nav">
    <li><a class="nav-item nav-link" href="#">About</a></li>
    <li><a class="nav-item nav-link" href="#">Work</a></li>
    <li><a class="nav-item nav-link" href="#">Contact</a></li>
  </ul>
  <div class="social-media">
    <ul class="nav navbar-nav">
      <li><a class="nav-item nav-link" href="#"><img src="../../assets/images/facebook.svg" width="16" alt="logo"></a></li>
      <li><a class="nav-item nav-link" href="#"><img src="../../assets/images/instagram.svg" width="16" alt="logo"></a></li>
      <li><a class="nav-item nav-link" href="#"><img src="../../assets/images/github.svg" width="16" alt="logo"></a></li>
      <li><a class="nav-item nav-link" href="#"><img src="../../assets/images/art_station.svg" width="16" alt="logo"></a></li>
    </ul>
  </div>
</nav>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div data-aos="fade-right" data-aos-duration="1000" class="text-container">
          <div class="text">
            <div class="middle">
              <p id="writing-text">My name is...</p>
              <p id="name">SEBASTIAN <br>MATUSIAK</p>
              <hr>
              <p class="job">FRONT-END DEVELOPER</p>
              <p class="job">GRAPHIC DESIGNER</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div data-aos="fade-up"
             data-aos-anchor-placement="top-bottom" data-aos-duration="1000" class="image-container">
          <img src="../../assets/images/my_photo.jpg" alt="my_photo">
        </div>
      </div>
    </div>
  </div>
</div>
