<div class="header">
  <div class="navi"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="text-container">
          <div class="text">
            <div class="middle">
              <p id="writing-text">My name is...</p>
              <p id="name">SEBASTIAN <br>MATUSIAK</p>
              <hr>
              <p class="job">FRONT-END DEVELOPER</p>
              <p class="job">GRAPHIC DESIGNER</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image-container">
          <img src="../../assets/images/my_photo.jpg" alt="my_photo">
        </div>
      </div>
    </div>
  </div>
</div>
