header .navi {
  display: inline-block;
  position: relative;
  width: 100%;
}

header .navi::before {
  content: "";
  top:0;
  left: 0;
  position: absolute;
  background-color: #61836c;
  width: 75%;
  height: 100%;
  transform: translateX(-10%) skew(-45deg);
}

header .navbar-brand {
  position: relative;
  display: inline-block;
  margin: 1% 5% -5% 27.5%;
}

header .links {
  position: relative;
  display: inline-block;
  transform: translateY(15%);
}

header .links li {
  display: inline-block;
}

header .links li a{
  color: #c9e2cf;
  text-decoration: none;
  border-bottom: 3px solid #61836c;
  margin: 0 .7rem;
}

header .links li a:hover {
  color: white;
  border-bottom: 2px solid #91be9f;
}

p {
  letter-spacing: 0.3rem;
  line-height: 3rem;
  text-align: right;
}

.home {
  color: #61836c;
  font-size: 1rem;
}

#writing-text {
  transform: translateX(-10vh) translateY(2vh);
  font-size: 2rem;
  font-family: AnkeHand, sans-serif;
  color: #8ebf9f;
}

#name {
  font-weight: 600;
  font-size: 3rem;
}

.job {
  color: #555;
  line-height: .7rem;
}

.image-container {
  overflow: hidden;
  position: relative;
  text-align: left;
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 7% 0;
}

.image-container img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
  border: .5vh solid #61836c;
  background-color: #61836c;
}

@media only screen and (max-width: 500px) {
  .navi {
    top: 0;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: left;
    background-color: #61836c;
  }

  .navbar-brand img {
    width: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .image-container {
    text-align: center;
    justify-content: center;
    padding: 0;
  }

  .image-container img {
    position: relative;
    margin: 0;
    text-align: center;
    max-width: 80%;
    max-height: 80%;
  }

  .text-container {
    width: 100%;
    justify-content: center;
  }
}
