.footer-copyright {
  width: 100%;
  height: auto;
  color: white;
  background-color: #555555;
  text-align: center;
}

.social-media {
  padding-top: 0.5%;
}

.social-media li {
  text-align: center;
  text-decoration: none;
  position: relative;
  display: inline;
  padding: 0 1%;
}

p{
  padding-top: 1%;
}

@media only screen and (max-width: 1000px) {
  .social-media li {
    padding: 0 2%;
  }
}
