<div class="row">
  <div class="footer-copyright font-small">
    <p>&copy;2020 Copyright: Sebastian Matusiak</p>
    <div class="social-media">
      <div class="row">
        <ul class="col-md-12">
          <li><a href="https://www.facebook.com/sebastian.matusiak.1" target="_blank">
            <img src="../../assets/images/facebook.svg" width="16" alt="logo"></a></li>
          <li><a href="https://www.instagram.com/sebd96/" target="_blank">
            <img src="../../assets/images/instagram.svg" width="16" alt="logo"></a></li>
          <li><a href="https://github.com/sebmat003" target="_blank">
            <img src="../../assets/images/github.svg" width="16" alt="logo"></a></li>
          <li><a href="https://www.artstation.com/sebd96" target="_blank">
            <img src="../../assets/images/art_station.svg" width="16" alt="logo"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



