<div class="container-fluid" id="about">
  <div class="triangle-top-left"></div>
  <div class="triangle-bottom-right"></div>
    <div class="about row align-content-center">
      <div class="left-side col-7 col-md-5">
        <p class="big-text">ABOUT <br> ME</p>
      </div>
      <div class="right-side col-5 col-md-4">
        <p>Hi! My name is Sebastian.
          I’m living in Poland (currently moving
          to Warsaw). In 2020, I graduated from
          university in Bydgoszcz City (Computer Science) and now
          I’m preparing to become a professional
          front-end developer and (also) graphics
          designer. My hobbies: basketball, drawing,
          programming, playing games.
        </p>
      </div>
    </div>
    <div class="skills row align-content-center">
      <div class="left-side col-4 col-md-5">
        <p class="big-text">SKILLS</p>
      </div>
      <div class="right-side col-6 col-md-6">
        <table>
          <tr>
            <td><p>Angular 9</p></td>
            <td><div class="skill-bar"><div class="skill-bar-fill" id="angular"></div></div></td>
          </tr>
          <tr>
            <td><p>HTML</p></td>
            <td><div class="skill-bar"><div class="skill-bar-fill" id="html"></div></div></td>
          </tr>
          <tr>
            <td><p>CSS</p></td>
            <td><div class="skill-bar"><div class="skill-bar-fill" id="css"></div></div></td>
          </tr>
          <tr>
            <td><p>TypeScript</p></td>
            <td><div class="skill-bar"><div class="skill-bar-fill" id="typescript"></div></div></td>
          </tr>
          <tr>
            <td><p>Photoshop</p></td>
            <td><div class="skill-bar"><div class="skill-bar-fill" id="photoshop"></div></div></td>
          </tr>
          <tr>
            <td><p>Ilustrator</p></td>
            <td><div class="skill-bar"><div class="skill-bar-fill" id="illustrator"></div></div></td>
          </tr>
        </table>
      </div>
    </div>
</div>


