<div class="container-fluid" id="contact">
  <div class="triangle">

  </div>
  <div class="container">
    <div class="row">
      <div class="head col-md-12"><p>CONTACT</p>
      </div>
      <div class="border"></div>
      <div class="text col-md-12">
        <p>Do you have any questions? Please contact me via e-mail or social media: </p>
      </div>
      <div class="contact-info col-md-12">
        <table class="table-borderless">
          <tr>
            <td class="col-md-6">
              <div class="icon">
                <img src="../../assets/images/phone.svg" width="100" alt="phone_number">
              </div>
              <div class="info-text">
                <p>+48 721 181 942</p>
              </div>
            </td>
            <td class="col-md-6">
              <div class="icon">
                <img src="../../assets/images/mail.svg" width="100" alt="mail">
              </div>
              <div class="info-text">
                <p>sebastianmatusiak96@gmail.com</p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="col-12 col-md-6">
              <div class="icon">
                <img src="../../assets/images/facebook.svg" width="100" alt="facebook">
              </div>
              <div class="info-text">
                <p>/sebastian.matusiak.1</p>
              </div>
            </td>
            <td class="col-12 col-md-6">
              <div class="icon">
                <img src="../../assets/images/linkedin-logo.svg" width="100" alt="linkedin">
              </div>
              <div class="info-text">
                <p>/sebastian-matusiak-56733a13b</p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
