<div class="background aos-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-center">
  <div class="container">
    <div class="row">
      <div class="coder">
        <div class="gallery">
          <div class="row">
            <mdb-image-modal [modalImages]="images" type="no-margin"></mdb-image-modal>
          </div>
        </div>
      </div>
      <div class="designer">
        <div class="gallery">
          xd
        </div>
      </div>
    </div>
  </div>
</div>
