
.background {
  width: 100%;
  height: 50rem;
  background: url("../../assets/images/background-work.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row {
  width: 100%;
  height: 50rem;
}

.coder, .designer {
  display: block;
  opacity: 0;
  width: 50%;
  height: auto;
  cursor: pointer;
  transition: opacity;
  transition-duration: 0.5s;
  overflow: hidden;
  text-align: center;
  background-color: white;
}

.coder {
  transform: skew(10deg) translateX(1%);
  height: auto;
}

.designer {
  transform: skew(10deg) translateX(1%);
  height: auto;
}

.coder:hover, .designer:hover {
  opacity: 1;
}

.gallery {
  padding-top: 20%;
  transform: skew(-10deg);
  -ms-transform: skew(-10deg);
}

.ngx-gallery {
}

ngx-gallery /deep/ .ngx-gallery-arrow {
  color: #e3e3e3;
}

.link {
  display: block;
  font-size: 1rem;
  margin-top: 3%;

}

.link a {
  text-decoration: none;
  color: #61836c;
}

.link a img {
  transform: translateY(-10%);
}

.title-text {
  position: relative;
  display: inline-block;
  width: auto;
  white-space: nowrap;

}

.title-text p {
  color: #61836c;
  display: inline-block;
  margin-top: 5%;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  padding: .5%;
}

.border{
  position: relative;
  width: 25%;
  height: 2px;
  background-color: #61836c;
  margin: 0 auto 10% auto;
}

@media only screen and (max-width: 1000px) {
  #work-mobile {
    margin-top: 6%;
  }

  .row {
    margin: 0;
    padding: 0;
    height: auto;
  }
}
