<div class="background aos-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-center">
  <div class="container">
    <div class="row">
      <div class="coder">
        <div class="gallery">
          <div class="d-flex flex-row justify-content-center align-items-center">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </div>
        </div>
      </div>
      <div class="designer">
        <div class="gallery">
          <div class="d-flex flex-row justify-content-center align-items-center">
            <ngx-gallery [options]="galleryOptions" [images]="galleryDesign" class="ngx-gallery"></ngx-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

