.container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
  /*background-color: green;*/
}

.background {
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/background-work.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.coder, .designer {
  display: block;
  opacity: 0;
  width: 50%;
  height: 75vh;
  margin-top: 12.5vh;
  cursor: pointer;
  transition: opacity;
  transition-duration: 0.5s;
  /*overflow: hidden;*/
  background-color: white;
  text-align: center;

}

.coder {
  transform: skew(10deg) translateX(-1%)
}

.designer {
  transform: skew(10deg) translateX(-0.3%);
}

.coder:hover, .designer:hover {
  opacity: 1;
}

.gallery {
  transform: skew(-10deg) translateY(-50%) translateX(10%);
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: skew(-10deg) translateY(-50%) translateX(10%);
}

ngx-gallery /deep/ .ngx-gallery-arrow {
  color: #e3e3e3;
}

