* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to right,white,white, rgba(97,131,108,0.1) 90%);
  color: #61836c;
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "AnkeHand";
  src:url('assets/AnkeHand.ttf');
}


@media only screen and (max-width: 599px) {
  html{
    font-size: 8px;
  }
}

@media only screen and (min-width: 600px) {
  html{
    font-size: 10px;
  }
}

@media only screen and (min-width: 900px) {
  html{
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  html{
    font-size: 14px;
  }
}

@media only screen and (min-width: 1800px) {
  html{
    font-size: 16px;
  }
}
